# Archivos de compilación
build/
bin/
*.o
*.exe
*.c

# TCC build artifacts
compiler/config.h
compiler/config.mak
compiler/config.texi
compiler/tcc
compiler/*.a
compiler/tccdefs_.h
compiler/c2str.exe
compiler/*.o
vendor/
